{% extends 'login/base.html'%}

{% block content%}

    {% if user.is_authenticated%}

        <h3></h3>


            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header">CHECK REGISTRATION </div>
                <div class="card-body">
                    <h5 class="card-title">DETAILS BOOK</h5>
                    <p>Username: {{user.username}}</p>
                    <p>Firstname: {{user.first_name}}</p>
                    <p>Lastname: {{user.last_name}}</p>
                    <p>Email: {{user.email}}</p>
                </div>
            </div>

    {%else%}
        <h1>This is the home page</h1>
    {% endif%}
{% endblock%}